<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208724783680-og31ovusta529a80e6l4qd437aqq0goj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208724783680-og31ovusta529a80e6l4qd437aqq0goj</string>
	<key>API_KEY</key>
	<string>AIzaSyBCchFsYqxBhGnp-ihv4iidU63TjVlmcJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>208724783680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ankur.ImageGallery</string>
	<key>PROJECT_ID</key>
	<string>imagegallery-a0517</string>
	<key>STORAGE_BUCKET</key>
	<string>imagegallery-a0517.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208724783680:ios:124069547380bb9ec425a5</string>
	<key>DATABASE_URL</key>
	<string>https://imagegallery-a0517.firebaseio.com</string>
</dict>
</plist>